* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {

    /* 设置背景图片的大小为完全覆盖，不重复 */
    background-size: cover;

    /* 设置背景图片的重复方式为不重复 */
    background-repeat: no-repeat;

    /* 设置背景颜色为天蓝色 */
    /* background-color: skyblue; */
    background-image: url("../imags/login_bg.jpg");

}

/* 登录背景盒子 */
.box {
    /* 设置元素的位置、旋转和缩放 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 设置元素的宽度和高度，并设置边框半径 */
    width: 400px;
    height: 500px;
    border-radius: 20px;

    /* 设置元素的显示方式为flex布局，并居中显示 */
    display: flex;
    justify-content: center;

    /* 设置背景颜色为从上到下的渐变，颜色为浅蓝色和深蓝色 */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}


/* 登录这个字 */
.box .login {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 50px;

}

/* 输入账户框 */
.box .username {
    background: transparent;
    position: absolute;
    top: 40%;
    left: 18%;
    width: 250px;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid pink;
    outline: none;
    transition: all 0.5s;

}

.box .username:hover {
    transform: scale(1.1);
}

/* 输入密码框 */
.box .password {
    background: transparent;
    position: absolute;
    top: 55%;
    left: 18%;
    width: 250px;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid pink;
    outline: none;
    transition: all 0.5s;
}

.box .password:hover {
    transform: scale(1.1);
}

/* 登录按钮 */
.box .button {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 200px;
    height: 40px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border-radius: 20px;
    border: transparent;
    outline: none;
    transition: all 0.5s;
    font-family: "HarmonyOS", serif;
}

.button:hover {
    transform: scale(1.1);
}

/* 注册 */
.box .register {
    position: absolute;
    top: 80%;
    left: 33%;

}


/* 设置鼠标点击登录颜色 */
.box .register .a {
    color: #eab8c8;
}