* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}


.bground {
    width: 100%;
    background-image: url(imags/mybaground.jpg);
    background-repeat: no-repeat;
    position: fixed;

    /* 有进度框 */
    min-height: 770px;
    overflow-y: auto;
    max-height: 100%;

    /* 平滑过度 */
    transition: 1s;
    scroll-behavior: smooth;

}


img {
    position: absolute;
    display: inline-block;
    left: 47%;
    top: 20%;
    width: 100px;
    height: 100px;
}

.bgimg li:nth-child(2) {
    position: absolute;
    left: 35%;
    top: 39%;
}

h2 {
    font-size: 25px;
    font-family: "宋体", serif;
    color: #ed4845;
}

.bgimg li:nth-child(3) {
    position: absolute;
    display: inline-block;
    left: 33%;
    top: 45%;
    width: 500px;
    height: 3px;
    background-color: rgb(229, 217, 217);
}

.bgimg li:nth-child(4) {
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 48%;

}

h5 {
    font-family: "宋体", serif;
    font-size: 25px;
    color: black;
}

.bgimg li:nth-child(5) {
    display: inline-block;
    position: absolute;
    top: 64%;
    left: 39%;
    font-family: "宋体", serif;
}

.bgimg li:nth-child(6) {
    display: inline-block;
    position: absolute;
    top: 90%;
    left: 47.5%;
    font-family: "宋体", serif;
    font-size: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

.qiehuan1 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    border: 2px solid #fff;
    left: 40%;
}


.qiehuan1:hover {

    background-color: #fb9968;
}

#A2 {

    position: absolute;
    top: 120%;
    width: 100%;
    height: 800px;

    transition: all 1.5s;
    background-color: rgb(255, 255, 255, 0.5);
}

#A2 ul:nth-child(1) {

    width: 100%;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 47%;

}

#A2 .hengxian {
    position: absolute;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 10px;

    border: transparent;
    border-bottom: 5px dotted rgb(255, 174, 0);
}

#A2 .ziliao {
    font-size: 23px;
    position: absolute;
    top: 25%;
    left: 10%;
    font-family: "宋体", serif;
    font-weight: bolder;
}

#A2 .ziliaoimg {
    position: absolute;
    top: 40%;
    left: 15%;


}

.ziliaoimg img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 85%;
    left: 92%;
    position: fixed;
    line-height: 50px;
}

.ziliaoxinxi {

    position: relative;
    top: 35%;
    left: 35%;
    width: 500px;
    height: 300px;
}

.top:hover {
    background-color: #fb9968;
}

.ziliaoxinxi li {
    font: 25px "宋体";
    margin: 20px;
    color: #fb9968;
    font-weight: bolder;
}

.qiehuan2 {
    position: absolute;
    top: 84%;
    left: 49.5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    border: 2px solid #fff;

}

.qiehuan2:hover {

    background-color: #fb9968;
}

#A3 {
    position: absolute;
    top: 230%;
    width: 100%;
    height: 740px;
    background-color: transparent;
    transition: all 1.5s;

}

#A3 h2 {

    font-size: 100px;
    font-family: "宋体", serif;
    color: #fb9968;
    font-weight: bolder;
    position: absolute;
    top: 5%;
    left: 38%;

}

.A3box {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 500px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;

}

/* -----------------摄影日记----------- */
.A3box .a1 {
    display: inline-block;
    position: absolute;
    width: 260px;
    height: 500px;
    background-image: url(imags/3.jpg);
    background-size: 300px 260px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.A3box .a1:hover {
    transition: all 0.5s;
    transform: scale(0.9);
}

.A3box .a1 h3 {
    position: absolute;
    top: 60%;
    left: 35%;
    font-family: "宋体", serif;
    font-size: 20px;
}

.A3box .a1 .p1 {
    position: absolute;
    top: 70%;
    left: 10%;
    font-family: "宋体", serif;
    font-size: 20px;
}

.A3box .a1 .p2 {
    position: absolute;
    top: 82%;
    left: 10%;
    font-family: "宋体", serif;
    font-size: 20px;
    color: goldenrod;
}

/* --------------CSDN博客--------------- */
.A3box .a2 {
    display: inline-block;
    position: absolute;
    left: 26%;
    width: 260px;
    height: 500px;
    background-image: url(imags/th.jfif);
    background-size: 260px 260px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.A3box .a2:hover {
    transition: all 0.5s;
    transform: scale(0.9);
}

.A3box .a2 h3 {
    position: absolute;
    top: 60%;
    left: 35%;
    font-family: "宋体", serif;
    font-size: 20px;
}

.A3box .a2 .p1 {
    position: absolute;
    top: 68%;
    left: 20%;
    font-family: "宋体", serif;
    font-size: 20px;
}

.A3box .a2 .p2 {
    position: absolute;
    top: 76%;
    left: 8%;
    font-family: "宋体", serif;
    font-size: 20px;
    color: goldenrod;
}

/* --------------GitHub博客--------------- */
.A3box .a3 {
    display: inline-block;
    position: absolute;

    left: 52%;
    width: 260px;
    height: 500px;

    background-image: url(imags/github-mark.png);
    background-size: 260px 260px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.A3box .a3:hover {
    transition: all 0.5s;
    transform: scale(0.9);
}

.A3box .a3 h3 {
    position: absolute;
    top: 60%;
    left: 35%;
    font-family: "宋体", serif;
    font-size: 20px;
}

/* .A3box .a3 .p1 {
    position: absolute;
    top: 75%;
    left: 65px;
    font-family: "宋体";
    font-size: 20px;
} */

.A3box .a3 .p2 {
    position: absolute;
    top: 75%;
    left: 10%;
    font-family: "宋体", serif;
    font-size: 20px;
    color: goldenrod;
}

/* --------------跟我唠唠--------------- */
.A3box .a4 {
    display: inline-block;
    position: absolute;
    left: 78%;
    width: 260px;
    height: 500px;
    background-image: url(imags/wx.jfif);
    background-size: 260px 260px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.A3box .a4:hover {
    transition: all 0.5s;
    transform: scale(0.9);
}

.A3box .a4 h3 {
    position: absolute;
    top: 60%;
    left: 35%;
    font-family: "宋体", serif;
    font-size: 20px;
}

/* .A3box .a4 .p1 {
    position: absolute;
    top: 75%;
    left: 65px;
    font-family: "宋体";
    font-size: 20px;
} */

.A3box .a4 .p2 {
    position: absolute;
    top: 75%;
    left: 20%;
    font-family: "宋体", serif;
    font-size: 20px;
    color: goldenrod;
}