* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {

    /* 设置背景图片的大小为完全覆盖，不重复 */
    background-size: cover;

    /* 设置背景图片的重复方式为不重复 */
    background-repeat: no-repeat;

    /* 设置滤镜效果，包括Alpha、opacity、finishOpacity、startX、finishX、startY、finishY */
    filter: Alpha(style=1, opacity=25, finishOpacity=100,
    startX=50, finishX=100, startY=50, finishY=100);

    /* 设置背景颜色为天蓝色 */
    background-color: skyblue;

}

/* 登录背景盒子 */
.box {
    /* 设置元素的位置、旋转和缩放 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* 设置元素的宽度和高度，并设置边框半径 */
    width: 400px;
    height: 500px;
    border-radius: 20px;

    /* 设置元素的显示方式为flex布局，并居中显示 */
    display: flex;
    justify-content: center;

    /* 设置背景颜色为从上到下的渐变，颜色为浅蓝色和深蓝色 */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}


/* 登录这个字 */
.box .login {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 50px;

}

/* 输入账户框 */
.box .username {
    background: transparent;
    position: absolute;
    top: 40%;
    left: 18%;
    width: 250px;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid pink;
    outline: none;

}

/* 输入密码框 */
.box .password {
    background: transparent;
    position: absolute;
    top: 55%;
    left: 18%;
    width: 250px;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid pink;
    outline: none;
}

/* 登录按钮 */
.box .button {
    position: absolute;
    top: 70%;
    left: 18%;
    width: 250px;
    height: 40px;
    background: transparent linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    border-radius: 20px;
    border: transparent;
    outline: none;
    transition: background-color 0.6s;
}

.button:hover {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

/* 注册 */
.box .register {
    position: absolute;
    top: 80%;
    left: 33%;

}

.box .register .a {
    color: #eab8c8;
}

#myAudio{
    display: none;
}
