 * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
        }

        body {
       
            background-size: cover;
            background-repeat: no-repeat;

            /* background-image: url(./IMG_20231014_183145.jpg); */

            FILTER: Alpha(style=1, opacity=25, finishOpacity=100,
                    startX=50, finishX=100, startY=50, finishY=100);
            background-color: skyblue;

        }

        /* 登录背景盒子 */
        .box {
            position: absolute;
            flex-direction: column;
            
            top: 16%;
            left: 35%;
            display: flex;
            width: 400px;
            height: 500px;

            background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
            border-radius: 20px;


        }

        /* 登录这个字 */
        .box .denglu {
            width: 100px;
            height: 30px;
            position: absolute;
            top: 15%;
            left: 40%;
            font-size: 50px;

        }

        /* 输入账户框 */
        .box .text {
            background: transparent;
            position: absolute;
            top: 40%;
            left: 18%;
            width: 250px;
            height: 40px;
            border: transparent;
            border-bottom: 2px solid pink;
            outline: none;

        }

        /* 输入密码框 */
        .box .passwd {
            background: transparent;
            position: absolute;
            top: 55%;
            left: 18%;
            width: 250px;
            height: 40px;

            border: transparent;
            border-bottom: 2px solid pink;
            outline: none;
        }

        /* 登录按钮 */
        .box .bt {
            background: transparent;
            position: absolute;
            top: 70%;
            left: 18%;
            width: 250px;
            height: 40px;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
            border-radius: 20px;

            border: transparent;
            outline: none;



        }

        /* 注册 */
        .box .zhuce {
            position: absolute;
            top: 80%;
            left: 33%;

        }

        .box .zhuce .a {
            color: #eab8c8;
        }