* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#wrap {

    overflow: hidden;
    position: relative;
    width: 1000px;
    height: 580px;
    margin: 10px auto
}

#wrap .img-list {
    display: flex;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.8s ease;
}

#wrap .img-list img {
    width: 100%;
    cursor: pointer;
}

#wrap a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 40px;
    height: 60px;
    background-color: transparent;
    color: white;
    user-select: none;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;

}

#wrap a.left {
    border-radius: 0 30px 30px 0;
    left: -5px;
    outline: 0;

}


#wrap a.right {
    border-radius: 30px 0 0 30px;
    left: 965px;
    right: 0;
    outline: 0;
}

#wrap:hover a {
    background-color: rgba(255, 255, 255, 0.2);


}

.circle-list {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 240px;
    height: 40px;
    z-index: 8;
}

.circle-list > .circle {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background-color: #ecf0f1;
    border-radius: 50%;
}

.circle-list > .circle.active {
    background-color: pink;
}