/* 设置所有元素的边框为 0，内边距为 0，文本装饰为无，列表样式为无，并设置为边框包含边界 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* 定义一个名为 "HarmonyOS" 的字体，并指定其源为 "HarmonyOS_Sans.ttf" */
@font-face {
    font-family: 'HarmonyOS';
    src: url("HarmonyOS_Sans.ttf");
}

#img {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background-image: url(imags/IMG_20231014_183145.jpg);
    background-size: cover;
}

/* 设置注册页面的绝对位置、旋转和缩放 */
#register {

    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

    /* 设置注册页面的宽度和高度，并设置边框半径 */
    width: 400px;
    height: 500px;
    border-radius: 20px;

    /* 设置注册页面的显示方式为 flex 布局，并居中显示 */
    display: flex;
    justify-content: center;

    /* 设置背景颜色为从上到下的渐变，颜色为浅蓝色和深蓝色 */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}

/* 设置注册页面的标题字体和大小 */
h2 {
    font-family: "HarmonyOS";
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 50px;
}

/* 设置用户名的输入框样式，包括边框、背景颜色、边框半径、边框颜色、边框大小、输入框宽度、高度 */
.name {
    position: absolute;
    top: 40%;
    left: 27%;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid #fed6e3;
    outline: none;
    width: 175px;
    height: 30px;
}

/* 设置密码的输入框样式，与上面相同 */
.passwd {
    position: absolute;
    top: 52%;
    left: 27%;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid #fed6e3;
    outline: none;
    width: 175px;
    height: 30px;
}

/* 设置登录按钮的样式，包括宽度和高度、背景颜色、边框半径、边框颜色、边框大小 */
.zhu {
    width: 150px;
    height: 50px;
    background-color: pink;
    position: absolute;
    top: 67%;
    left: 30%;
    border-radius: 20px;
    border: transparent;
    outline: none;

}

/* 设置确定按钮的样式，包括字体大小和位置 */
.ok {
    position: absolute;
    top: 83%;
    left: 35%;
    font-size: 15px;

}

/* 将chekbox 属性框和字体水平线一齐*/
.okeyred {
    vertical-align: top;
}