/* 设置所有元素的边框为 0，内边距为 0，文本装饰为无，列表样式为无，并设置为边框包含边界 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* 定义一个名为 "HarmonyOS" 的字体，并指定其源为 "HarmonyOS_Sans.ttf" */
@font-face {
    font-family: 'HarmonyOS';
    src: url("HarmonyOS_Sans.ttf");
}

#img {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background-image: url(imags/register.jpg);
    background-size: cover;
}

/* 设置注册页面的绝对位置、旋转和缩放 */
#registerBox {

    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);

    /* 设置注册页面的宽度和高度，并设置边框半径 */
    width: 400px;
    height: 500px;
    border-radius: 20px;

    /* 设置注册页面的显示方式为 flex 布局，并居中显示 */
    display: flex;
    justify-content: center;

    /* 设置背景颜色为从上到下的渐变，颜色为浅蓝色和深蓝色 */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}

/* 设置注册页面的标题字体和大小 */
h2 {
    font-family: "HarmonyOS", serif;
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 50px;
}

/* 设置用户名的输入框样式，包括边框、背景颜色、边框半径、边框颜色、边框大小、输入框宽度、高度 */
.name {
    position: absolute;
    top: 40%;
    left: 18%;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid #fed6e3;
    outline: none;
    width: 250px;
    height: 40px;
    transition: all 0.5s;

}


.name:hover {
    transform: scale(1.1);
}

/* 设置密码的输入框样式，与上面相同 */
.passwd {
    position: absolute;
    top: 55%;
    left: 18%;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid #fed6e3;
    outline: none;
    width: 250px;
    height: 40px;

    transition: all 0.5s;
}

.passwd:hover {
    transform: scale(1.1);
}

/* 设置注册按钮的样式，包括宽度和高度、背景颜色、边框半径、边框颜色、边框大小 */
.zhu {
    top: 70%;
    left: 25%;
    width: 200px;
    height: 40px;
    font-family: "HarmonyOS", serif;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    position: absolute;
    border-radius: 20px;
    border: transparent;
    outline: none;
    transition: all 0.5s;
}

.zhu:hover {
    transform: scale(1.2);


}

/* 设置确定按钮的样式，包括字体大小和位置 */
.ok {
    position: absolute;
    top: 83%;
    left: 35%;
    font-size: 15px;
}

/* 将chekbox 属性框和字体水平线一齐*/
.okey1 {
    vertical-align: middle;
}

@media screen and (max-width: 768px) {

    /* 设置注册页面的绝对位置、旋转和缩放 */
    #registerBox {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* 设置注册页面的宽度和高度，并设置边框半径 */
        width: 400px;
        height: 500px;
        border-radius: 20px;

        /* 设置注册页面的显示方式为 flex 布局，并居中显示 */
        display: flex;
        justify-content: center;

        /* 设置背景颜色为从上到下的渐变，颜色为浅蓝色和深蓝色 */
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

    }

}